*{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 175px;
    background: linear-gradient(30deg, #280037, #3c0029,#002b58, #5a0015);
    color: #fff;
    background-size: 400% 400%;
    position: relative;
    display: flex;
    animation: fade 15s ease-in-out infinite;
    border: 1px solid black;
}.navbar li{
    margin-left: 50px;
}.navbar a{
    text-decoration: none;
    font-size: 26px;
    color: #c6c6c6;
}.a-selected{
    color: white; 
    border-bottom: 3px solid white;
}.navbar a:hover{
    border-bottom: 3px solid white;
    color: white;
}.logresContainer{
    list-style-type: none;
    margin-left: 300px;
    height: 30px;
    width: 175px;
    border-radius: 6%;
    border: 2px black solid;
    background-color: #1E1E1E;
    text-align: center;
}.logresContainer a{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}.logresContainer a:hover{
    color: #B3B909;
}ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: white;
    align-items: center;
    font-family: Dunkin;
    margin-left: 10px;
}nav{
    margin-top:65px;
    margin-left:50px;
    text-decoration: none;
    list-style-type: none;
}

main{
    padding: 10px;
    background-color: #1F1540;
    height: 100%;
    color: white;
}.title{
    padding-top: 80px;
    padding-left: 250px;
    font-size: 42px;
    font-family: CaviarBold;
    color: white;
    margin-bottom: 80px;
}article{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #152148;
    margin-left: 50px;
    padding: 30px;
    border: 1px solid white;
    width: 1730px;
}.noticiatitle{
    font-family: CaviarBold;
    font-size: 32px;
    margin-bottom: 10px;
}.noticiatext{
    font-family: Caviar;
}.noticiaimg{
    margin: 50px;
    text-align: center;
}



.footer{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #35004c;
    color: white;
    border-top: 1px solid black;
}

@keyframes fade{
    0%{background-position: 0 50%;}
    30%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

@font-face {
    font-family: "Dunkin";
    src: url(../assets/Dunkin.otf);
}@font-face {
    font-family: "Caviar";
    src: url(../assets/CaviarDreams.ttf);
}@font-face {
    font-family: "CaviarBold";
    src: url(../assets/CaviarDreams_Bold.ttf);
}@font-face {
    font-family: "CaviarItalic";
    src: url(../assets/CaviarDreams_Italic.ttf);
}